html,
body {
    font-family: Satoshi, sans-serif;
    font-size: 16;
    font-weight: normal;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/static/fonts/Satoshi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Satoshi';
    src: url('/static/fonts/Satoshi-Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
    font-style: normal;
}

h1 {
    font-weight: bold;
}

.dark-bg {
    background-color: #171A21;
}

.darker-bg {
    background-color: #171A21;
}

.navbar {
    font-size: large;

}

.navbar-brand img {
    width: 200px;
}



/* ul{
    max-width: 80%;
    margin: 10px 20px;
    list-style-type: none;
} */
.poster {
    height: 290px;
    width: 200px;
    margin: 10px 0;
    transition: filter linear 0.2s;
}

.poster:hover {
    filter: brightness(70%);
}

main>.container {
    padding: 100px 15px;
}

.form-control:focus {
    color: #F7F7FF;
    background-color: #171A21;
}

.form-control:focus+.search-submit {
    color: #F7F7FF !important;
}

.scrolling-wrapper {
    margin: 15px 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.card {
    background-color: #171A21;
    margin: 0 10px;
    display: inline-block;
}

.card img{
    border-radius: 10px;
}


@media only screen and (max-width: 600px) {}