html,
body {
    font-family: Satoshi, sans-serif;
    font-size: 16;
    font-weight: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/static/fonts/Satoshi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Satoshi';
    src: url('/static/fonts/Satoshi-Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
    font-style: normal;
}

h1 {
    font-weight: bold;
}

.dark-bg {
    background-color: #171A21;
}

.bluish-bg {
    background-color: #183B62;
}

.navbar {
    font-size: large;

}

.navbar-brand img {
    width: 200px;
}



/* ul{
    max-width: 80%;
    margin: 10px 20px;
    list-style-type: none;
} */
.poster {
    height: 275px;
    width: 200px;
    margin: 10px 0;
    transition: filter linear 0.2s;
}

.poster:hover {
    filter: brightness(70%);
}

main>.container {
    padding: 100px 15px;
}

.search-bar:focus {
    background-color: #F7F7FF !important;
    transition: background-color linear 0.2s;
    box-shadow: wheat !important;
}

.form-control:focus+.search-submit {
    color: #F7F7FF !important;
}

@media only screen and (max-width: 600px) {}