{% extends "layout.html" %}

{% block title %}
Credits
{% endblock %}

{% block body %}
<div class="display-3 mx-3">Credits</div>

<ul class="m-3 credits">
    <li><a href="https://flickity.metafizzy.co/">Flickity</a> for the scrollable carousels</li>
    <li><a href="https://fancyapps.com/fancybox/3/">FancyBox</a> for the YouTube previews</li>
    <li><a href="https://www.fontshare.com">Fontshare</a> for the fonts</li>
    <li><a href="https://developers.themoviedb.org/3/getting-started/introduction">TheMovieDB's API</a> for the data
    </li>
</ul>

{% endblock %}