{% extends "layout.html" %}

{% block body %}

<div class="scroller-display my-5">
    <h1>Trending Movies</h1>
    <div class="scrolling-wrapper">
        {% for item in trending_movies %}

        <div class="card"><img class="poster" loading=lazy
                src="https://image.tmdb.org/t/p/original/{{ item['poster_path'] }}">
        </div>

        {% endfor %}
    </div>
</div>

<div class="scroller-display my-5"></div>
<h1>Trending Shows</h1>
<div class="scrolling-wrapper">
    {% for item in trending_shows %}

    <div class="card"><img class="poster" loading=lazy
            src="https://image.tmdb.org/t/p/original/{{ item['poster_path'] }}">
    </div>

    {% endfor %}
</div>
</div>
{% endblock %}