{% extends "layout.html" %} {% block head %}

<!-- CSS -->
<link
  rel="stylesheet"
  href="https://unpkg.com/flickity@2/dist/flickity.min.css"
/>

{% endblock %} {% block body %}

<!-- Flickity HTML init -->
<div
  class="carousel-large"
  data-flickity='{ "wrapAround": true, "autoPlay": 5000, "lazyLoad": true }'
>
  {% for item in spotlight %}
  <div class="gallery-cell">
    <a href="{{ url_for('get_movie_detail', id = item['id']) }}">
      {% if item['backdrop'] == "None" %}
      <div class="top-right-notif-text">No Image Available</div>
      {% else %}
      <div class="desktop-backdrop">
        <img src="{{ item['backdrop'] }}" />
      </div>
      <div class="mobile-backdrop">
        <img src="{{ item['poster'] }}" />
      </div>
      {% endif %}

      <span class="carousel-image-caption">
        <h1>{{ item["full_title"] }}</h1>
        <h5 class="carousel-image-overview mb-3">{{ item["description"] }}</h5>
        <h4>
          <i class="fas fa-calendar"></i>
          {{ item["date"] }}
        </h4>

        <h4>
          <i class="fas fa-star-half-alt"></i>
          {{ item["rating"] }}
        </h4>
      </span>
    </a>
  </div>
  {% endfor %}
</div>

<div class="scroller-display my-5">
  <h1>Movie Spotlight</h1>
  <div
    class="scrolling-wrapper"
    data-flickity='{ "lazyLoad": true, "freeScroll": true, "contain": true, "pageDots": false  }'
  >
    {% for item in trending_movies %}

    <div class="card">
      <a href="{{ url_for('get_movie_detail', id = item['id']) }}">
        <img class="poster" src="{{ item['poster'] }}" />
      </a>
    </div>

    {% endfor %}
  </div>
</div>

<div class="scroller-display my-5">
  <h1>Trending on TV</h1>
  <div
    class="scrolling-wrapper"
    data-flickity='{ "lazyLoad": true, "freeScroll": true, "contain": true, "pageDots": false  }'
  >
    {% for item in trending_shows %}

    <div class="card">
      <a href="{{ url_for('get_movie_detail', id = item['id']) }}">
        <img class="poster" src="{{ item['poster'] }}" />
      </a>
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %} {% block script %}

<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

{% endblock %}
