<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Gokul Viswanath">
    <meta name="description" content="Find and discover new movies and TV shows!">
    <title>
        {% block title %}
        {% endblock %}
        - MediaScout
    </title>

    <!-- Boostrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />

    <!-- Flickity CSS -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/layout.min.css') }}" />

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}" type="image/gif" sizes="16x16">


    {% block head %}
    {% endblock %}

</head>

<body class="d-flex flex-column h-100 text-light dark-bg">
    <header class="mb-4">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <!-- Navbar brand -->
                <a class="navbar-brand mx-lg-3" href="{{ url_for('index') }}">
                    MediaScout
                </a>
                <button id="navbar-toggler" class="navbar-toggler collapsed text-light" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation" onclick="toggle_icon()">
                    <i class="fas fa-lg fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                        <li class="nav-item mx-4">
                            <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">Home</a>
                        </li>
                        <li class="nav-item mx-4">
                            <a class="nav-link" href="{{ url_for('movie_home') }}">Movies</a>
                        </li>
                        <li class="nav-item mx-4">
                            <a class="nav-link" href="{{ url_for('tv_home') }}">TV</a>
                        </li>
                    </ul>

                    <form class="d-flex navbar-search mb-5 mb-lg-0"
                        action="{{ url_for('search', search_type='all', page='1') }}" method="GET">
                        <input type="search" name="query" class="form-control ms-4 ms-lg-5 me-2" placeholder="Search"
                            aria-label="Search" required />
                        <button type="submit" class="btn border-0 search-submit px-4 mx-2"><i
                                class="fas fa-arrow-right"></i></button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Navbar -->
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </main>

    <footer class="footer mt-auto py-3 dark-bg">
        <div class="container">
            <ul class="footer-text">
                <li>Copyright © 2021 <a href="https://1gokul.github.io/">Gokul Viswanath</a></li>
                <li>Under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPL v3 License</a></li>
                <li><a href="https://github.com/1Gokul/MediaScout">GitHub Repo</a></li>
                <li><a href="{{ url_for('credit') }}">Credits</a></li>
            </ul>

        </div>
    </footer>

    <!-- JavaScript-->

    <!-- Flickity JavaScript -->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
        </script>


    <!-- Toggle the navbar-toggler-icon when clicked on -->
    <script>
        function toggle_icon() {

            document.getElementsByClassName("navbar")[0].classList.toggle("extended-dark-background");

            let navbarToggler = document.getElementById("navbar-toggler");
            if (navbarToggler.classList.contains("collapsed")) {
                navbarToggler.innerHTML = '<i class="fas fa-lg fa-bars">';
            } else {
                navbarToggler.innerHTML = '<i class="fas fa-lg fa-times"></i>';
            }
        }
    </script>

    {% block script %}
    {% endblock %}
</body>

</html>