<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>MediaScout</title>

    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.4.0/mdb.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}" />
    <link rel="font" href="{{ url_for('static', filename = 'css/index.css') }}" />

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />


    {% block head %}
    {% endblock %}

</head>

<body class="d-flex flex-column h-100 text-white dark-bg">
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top dark-bg p-3">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Navbar brand -->
                <a class="navbar-brand mx-lg-3" href="#">
                    <img src="{{ url_for('static', filename='img/mediascout_white_logo.png') }}">
                </a>

                <!-- Toggle button -->
                <button id="navbar-toggler" class="navbar-toggler collapsed text-white" type="button"
                    data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    onclick="toggle_icon()">
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item mx-4">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
                        </li>
                        <li class="nav-item mx-4">
                            <a class="nav-link active" href="{{ url_for('movie_home') }}">Movies</a>
                        </li>
                        <li class="nav-item mx-4">
                            <a class="nav-link active" href="#">TV</a>
                        </li>

                    </ul>

                    <!-- Search form -->
                    <form class="d-flex input-group w-auto">
                        <div class="input-group">
                            <input type="search" class="form-control dark-bg border-0" placeholder="Search"
                                aria-label="Search" aria-describedby="search-addon" />
                            <button type="button" class="btn text-muted border-0 search-submit"><i
                                    class="fas fa-lg fa-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
                <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </main>

    <footer class="footer mt-auto py-3 dark-bg">
        <div class="container">
            <span class="text-muted">Gokul Viswanath 2021</span>
        </div>
    </footer>

    <!-- JavaScript-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.4.0/mdb.min.js"></script>

    <script>
        function toggle_icon() {
            let navbarToggler = document.getElementById("navbar-toggler");
            if (navbarToggler.classList.contains("collapsed")) {
                navbarToggler.innerHTML = '<i class="fas fa-bars">';
            } else {
                navbarToggler.innerHTML = '<i class="fas fa-times"></i>';
            }
        }
    </script>

    {% block script %}
    {% endblock %}
</body>

</html>