{% macro small_poster_carousel(carousel_title, input_dict) %}

<!-- Smaller carousel with posters -->
<div class="scroller-display my-5">
  <h1>{{ carousel_title }}</h1>
  <div
    class="scrolling-wrapper"
    data-flickity='{"cellAlign": "left", "lazyLoad": true, "freeScroll": true, "pageDots": false}'
  >
    {% for item in input_dict %}

    <div class="card">
      <a href="{{ item['detail_link'] }}">
        <img loading="lazy" class="poster" src="{{ item['poster'] }}" />
      </a>
    </div>

    {% endfor %}
  </div>
</div>

{% endmacro %}
