{% extends "layout.html" %} {% block head %}

<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />

{% endblock %} {% block body %}

<!-- Flickity HTML init -->
<div class="carousel-small" data-flickity='{ "wrapAround": true, "autoPlay": 5000, "lazyLoad": true }'>
    {% for item in now_playing_movies %}
    <div class="gallery-cell">
        <a href="https://www.google.com">
            {% if item['backdrop_path'] == None %}
            <h4 class="top-right-notif-text">No Image Available</h4>
            {% else %}
            <div class="desktop-backdrop">
                <img src="https://image.tmdb.org/t/p/w780/{{ item['backdrop_path'] }}" />
            </div>
            <div class="mobile-backdrop">
                <img src="https://image.tmdb.org/t/p/w300/{{ item['poster_path'] }}" />
            </div>
            {% endif %}

            <span class="carousel-image-caption">
                <h2>{{ item["title"] }}</h2>
                <h5 class="carousel-image-overview mb-3">{{ item["overview"]|truncate(250,true) }}</h5>

                {% for inneritem, val in item.items() %}
                {% if inneritem == "release_date" %}
                <h5><i class="fas fa-calendar"></i>{{ val.split("-")[0] }}</h5>
                {% endif %}
                {% endfor %}

                <h5><i class="fas fa-star-half-alt"></i>
                    {% if item["vote_average"] == 0 %}
                    N/A
                    {% else %}
                    {{ item["vote_average"] }}
                    {% endif %}
                </h5>
            </span>
        </a>
    </div>
    {% endfor %}
</div>

<div class="scroller-display my-5">
    <h1>Upcoming</h1>
    <div class="scrolling-wrapper"
        data-flickity='{ "cellAlign": "left", "lazyLoad": true,"freeScroll": true, "contain": true, "pageDots": false  }'>
        {% for item in upcoming_movies %}

        <div class="card">
            <img class="poster" src="https://image.tmdb.org/t/p/w300/{{ item['poster_path'] }}" />
        </div>

        {% endfor %}
    </div>
</div>

<div class="scroller-display my-5">
    <h1>Top Rated</h1>
    <div class="scrolling-wrapper" data-flickity='{ "cellAlign": "left", "lazyLoad": true  }'>
        {% for item in top_rated_movies %}

        <div class="card">
            <img class="poster" src="https://image.tmdb.org/t/p/w300/{{ item['poster_path'] }}" />
        </div>

        {% endfor %}
    </div>
</div>
<div class="scroller-display my-5">
    <h1>Popular</h1>
    <div class="scrolling-wrapper" data-flickity='{ "cellAlign": "left", "lazyLoad": true  }'>
        {% for item in popular_movies %}

        <div class="card">
            <img class="poster" src="https://image.tmdb.org/t/p/w300/{{ item['poster_path'] }}" />
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %} {% block script %}
<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

{% endblock %}