{% from "macros.html" import details_banner, cast_scroller, mini_scroller %}
{% extends "layout.html" %}

{% block title %}
{{ details["full_title"] }}
{% endblock %}

{% block body %}
<div class="details-container">

    <!-- Banner with movie details -->
    {{ details_banner(details, "movie") }}
    <hr>

    <!-- Cast -->
    <h1 class="fw-bold">Cast</h1>
    {{ cast_scroller(details["cast"]) }}



    <h1 class="fw-bold">Similar</h1>

    {% if details["similar"] == "N/A" %}

    <h5>No similar movies found. </h5>

    {% else %}

    <!-- Similar Movies -->
    {{ mini_scroller(details["similar"]) }}

    {% endif %}

</div>

{% endblock %}



{% block script %}

<!-- JQuery -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

<!-- Fancybox -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

{% endblock %}