{% extends "layout.html" %}

{% block head %}

<!-- Flickity CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />

{% endblock %} {% block body %}

<!-- Small TV Show Carousel  -->
<div class="carousel-small" data-flickity='{ "wrapAround": true, "autoPlay": 5000, "lazyLoad": true }'>
    {% for item in tv_info["shows_on_the_air"] %}
    <div class="gallery-cell">
        <a href="{{ url_for('get_tv_show_detail', id = item['id']) }}">
            {% if item['backdrop'] == None %}
            <h4 class="top-right-notif-text">No Image Available</h4>
            {% else %}
            <div class="desktop-backdrop">
                <img loading=lazy src="{{ item['backdrop'] }}" />
            </div>
            <div class="mobile-backdrop">
                <img loading=lazy src="{{ item['poster'] }}" />
            </div>
            {% endif %}

            <span class="carousel-image-caption">
                <h2>{{ item["full_title"] }}</h2>
                <h5 class="carousel-image-overview mb-3">{{ item["description"] }}</h5>

                <h5>
                    <i class="fas fa-calendar"></i>
                    {{ item["date"] }}
                </h5>

                <h5>
                    <i class="fas fa-star-half-alt"></i>
                    {{ item["rating"]}}
                </h5>
            </span>
        </a>
    </div>
    {% endfor %}
</div>

<!-- Smaller carousel with posters -->
<div class="scroller-display my-5">
    <h1>On The Air</h1>
    <div class="scrolling-wrapper"
        data-flickity='{"cellAlign": "left", "lazyLoad": true, "freeScroll": true, "pageDots": false}'>
        {% for item in tv_info["shows_airing_today"] %}

        <div class="card">
            <a href="{{ url_for('get_tv_show_detail', id = item['id']) }}">
                <img loading=lazy class="poster" src="{{ item['poster'] }}" />
            </a>
        </div>

        {% endfor %}
    </div>
</div>

<div class="scroller-display my-5">
    <h1>Documentaries</h1>
    <div class="scrolling-wrapper"
        data-flickity='{"cellAlign": "left", "lazyLoad": true, "freeScroll": true, "pageDots": false}'>
        {% for item in tv_info["documentary_shows"] %}
        <div class="card">
            <a href="{{ url_for('get_tv_show_detail', id = item['id']) }}">
                <img loading=lazy class="poster" src="{{ item['poster'] }}" />
            </a>
        </div>

        {% endfor %}
    </div>
</div>

<!-- Smaller carousel with posters -->
<div class="scroller-display my-5">
    <h1>Top Rated</h1>
    <div class="scrolling-wrapper"
        data-flickity='{"cellAlign": "left", "lazyLoad": true, "freeScroll": true, "pageDots": false}'>
        {% for item in tv_info["top_rated_shows"] %}

        <div class="card">
            <a href="{{ url_for('get_tv_show_detail', id = item['id']) }}">
                <img loading=lazy class="poster" src="{{ item['poster'] }}" />
            </a>
        </div>

        {% endfor %}
    </div>
</div>
<div class="scroller-display my-5">
    <h1>Popular</h1>
    <div class="scrolling-wrapper"
        data-flickity='{"cellAlign": "left", "lazyLoad": true, "freeScroll": true, "pageDots": false}'>
        {% for item in tv_info["popular_shows"] %}
        <div class="card">
            <a href="{{ url_for('get_tv_show_detail', id = item['id']) }}">
                <img loading=lazy class="poster" src="{{ item['poster'] }}" />
            </a>
        </div>

        {% endfor %}
    </div>
</div>
<div class="scroller-display my-5">
    <h1>Animated</h1>
    <div class="scrolling-wrapper"
        data-flickity='{"cellAlign": "left", "lazyLoad": true, "freeScroll": true, "pageDots": false}'>
        {% for item in tv_info["animated_shows"] %}
        <div class="card">
            <a href="{{ url_for('get_tv_show_detail', id = item['id']) }}">
                <img loading=lazy class="poster" src="{{ item['poster'] }}" />
            </a>
        </div>

        {% endfor %}
    </div>
</div>
<div class="scroller-display my-5">
    <h1>Action & Adventure</h1>
    <div class="scrolling-wrapper"
        data-flickity='{"cellAlign": "left", "lazyLoad": true, "freeScroll": true, "pageDots": false}'>
        {% for item in tv_info["action_adventure_shows"] %}
        <div class="card">
            <a href="{{ url_for('get_tv_show_detail', id = item['id']) }}">
                <img loading=lazy class="poster" src="{{ item['poster'] }}" />
            </a>
        </div>

        {% endfor %}
    </div>
</div>
<div class="scroller-display my-5">
    <h1>For Kids</h1>
    <div class="scrolling-wrapper"
        data-flickity='{"cellAlign": "left", "lazyLoad": true, "freeScroll": true, "pageDots": false}'>
        {% for item in tv_info["kids_shows"] %}
        <div class="card">
            <a href="{{ url_for('get_tv_show_detail', id = item['id']) }}">
                <img loading=lazy class="poster" src="{{ item['poster'] }}" />
            </a>
        </div>

        {% endfor %}
    </div>
</div>
<div class="scroller-display my-5">
    <h1>Reality Show</h1>
    <div class="scrolling-wrapper"
        data-flickity='{"cellAlign": "left", "lazyLoad": true, "freeScroll": true, "pageDots": false}'>
        {% for item in tv_info["reality_shows"] %}
        <div class="card">
            <a href="{{ url_for('get_tv_show_detail', id = item['id']) }}">
                <img loading=lazy class="poster" src="{{ item['poster'] }}" />
            </a>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %} {% block script %}


<!-- Flickity JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

{% endblock %}