{% from "macros.html" import small_poster_carousel %}
{% extends "layout.html" %}

{% block title %}
TV
{% endblock %}

{% block body %}

<!-- Small TV Show Carousel  -->
<div class="carousel-small" data-flickity='{ "wrapAround": true, "autoPlay": 5000, "lazyLoad": true }'>
    {% for item in tv_info["shows_on_the_air"] %}
    <div class="gallery-cell">
        <a href="{{ item['detail_link'] }}">
            <div class="desktop-backdrop">
                <img loading=lazy src="{{ item['backdrop'] }}" />
            </div>
            <div class="mobile-backdrop">
                <img loading=lazy src="{{ item['poster'] }}" />
            </div>

            <span class="carousel-image-caption">
                <h2>{{ item["full_title"] }}</h2>
                <h5 class="carousel-image-overview mb-3">{{ item["description"] }}</h5>

                <h5>
                    <i class="fas fa-calendar"></i>
                    {{ item["date"] }}
                </h5>

                <h5>
                    <i class="fas fa-star-half-alt"></i>
                    {{ item["rating"]}}
                </h5>
            </span>
        </a>
    </div>
    {% endfor %}
</div>

{{ small_poster_carousel("On The Air", tv_info["shows_airing_today"]) }}
{{ small_poster_carousel("Documentaries", tv_info["documentary_shows"]) }}
{{ small_poster_carousel("Top Rated", tv_info["top_rated_shows"]) }}
{{ small_poster_carousel("Popular", tv_info["popular_shows"]) }}
{{ small_poster_carousel("Animated", tv_info["animated_shows"]) }}
{{ small_poster_carousel("Action & Adventure", tv_info["action_adventure_shows"]) }}
{{ small_poster_carousel("For Kids", tv_info["kids_shows"]) }}
{{ small_poster_carousel("Reality Show", tv_info["reality_shows"]) }}


{% endblock %}