{% from "macros.html" import details_banner, cast_scroller, mini_scroller %}

{% extends "layout.html" %}

{% block title %}
{{ details["full_title"] }}
{% endblock %}


{% block body %}
<div class="details-container">

    <!-- Banner with movie details -->
    {{ details_banner(details, "tv") }}
    <hr>

    <!-- Cast -->
    <h1 class="fw-bold">Cast</h1>
    {{ cast_scroller(details["cast"]) }}

    <!-- Seasons of the TV Show -->
    <p>
        <a class="text-light" data-bs-toggle="collapse" href="#season-collapse" role="button" aria-expanded="false"
            aria-controls="collapseExample">
            <h1 class="fw-bold">Seasons <i class="fas fa-chevron-down"></i></h1>
        </a>
    </p>
    <div class="collapse" id="season-collapse">
        <div class="seasons">
            {% for season in details["seasons"] %}
            <hr />
            <a href="{{ season['link'] }}">
                <div class="search-result-box">
                    <div class="result-image">
                        <img src="{{ season['poster'] }}" />
                    </div>
                    <div>
                        <h2 class="fw-bold">{{ season["name"] }}</h2>
                        <span> {{ season["date"] }}</span>
                        <span class="px-3">{{ season["n_episodes"] }}</span>
                        <h5 class="desktop-overview">{{ season["description"] }}</h5>
                    </div>
                </div>
            </a>

            {% endfor %}
        </div>
    </div>
    <hr />

    <h1 class="fw-bold">Similar</h1>

    {% if details["similar"] == "N/A" %}

    <h5>No similar shows found. </h5>

    {% else %}

    <!-- Similar Shows -->
    {{ mini_scroller(details["similar"])}}

    {% endif %}

</div>

{% endblock %} {% block script %}

<!-- JQuery -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

<!-- Fancybox -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

{% endblock %}